<h1>Choose your professional</h1>

<%= form_for :booking, url: booking_path(@booking.id), method: :patch, class: "nifty_form" do |f| %>
  <%= select(:booking, :professional_id) do %>
    <% @professionals.each do |pro| %>
      <%= content_tag(:option, pro.name, value: pro.id, data: { prestations: pro.prestations }) %>
    <% end %>
  <% end %>
  <%= f.submit "Book now!" %>
<% end %>
