<h1>Find a professional</h1>

<%= form_with url: bookings_path, class: "nifty_form" do |f| %>
  <%= label_tag :email, "Email:" %>
  <%= f.text_field :email %>
  <br/>
  <br/>
  <%= label_tag :name, "Name:" %>
  <%= f.text_field :name %>
  <br/>
  <br/>
  <%= label_tag :address, "Address:" %>
  <%= f.text_field :address %>
  <br/>
  <br/>
  <%= label_tag :date, "Date:" %>
  <%= f.date_field :date %>
  <%= label_tag :time, "Time:" %>
  <%= f.time_field :time %>
  <br/>
  <br/>
  <%= label_tag :prestations, "Prestations:" %>
  <br/>
  <br/>
  <% Prestation.pluck(:reference).each do |prestation| %>
    <li>
      <%= check_box_tag 'prestations[]', prestation %>
      <%= h prestation.humanize %>
    </li>
  <% end %>
  <br/>
  <%= f.submit "Find" %>
<% end %>
